.skills-wrapper{
  background-color: white;
}
.grid-container {
  display: grid;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title first-item"
    "title second-item";
  background-color: white;
}
.grid-container-single {
  display: grid;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title first-item";
  background-color: white;
}

.title { 
  grid-area: title; 
}

.first-item { grid-area: first-item; }

.second-item { grid-area: second-item; }

#skills-list{
  list-style: none;
}

.fab {
  padding: 10px 10px;
}
.fas {
  padding: 10px 10px;
}
